section(class="main-section")
	.main__container
		.back-button
			a(href="javascript:void(0)")
				<svg xmlns="http://www.w3.org/2000/svg" width="20" height="14">
					<path fill="#909090" fill-rule="evenodd" d="M6.525.2a.708.708 0 0 1 1.008.994L2.42 6.286h16.873a.7.7 0 0 1 .706.703.71.71 0 0 1-.706.713H2.42l5.113 5.082a.72.72 0 0 1 0 1.004.708.708 0 0 1-1.008 0L.2 7.491a.69.69 0 0 1 0-.994L6.525.2z"></path>
				</svg>
				<h3>Dashboard</h3>
		.my-account__nav
			.title-my-account.text-uppercase
				span My account
			ul.account-nav__list
				li.account-nav__item
					a(href="javascript:void(0)") Personal Info
				li.account-nav__item.active
					a(href="javascript:void(0)") Change password
				li.account-nav__item
					a(href="javascript:void(0)") Notification
		form(action="#" name="main-profile__form")
			.change-password__block
				.current-password__block.margin-block__input
					.name_data_input
						p Current Password
					.wrapper-input
						input(type="text" class="input_data input-current__password")
				.new-password__block.margin-block__input
					.name_data_input
						p New Password
					.wrapper-input
						input(type="text" class="input_data input-new__password")
				.retype-new-password__block.margin-block__input
					.name_data_input
						p Re-type New Password
					.wrapper-input
						input(type="text" class="input_data input-retype__password")
			.main-button__block
				a(href="javascript:void(0)" class="main-button__save btn-success ") Save Changes
				a(href="javascript:void(0)" class="main-button__cancel btn-light") Cancel
