header
	.container
		.row.justify-content-between.header-content.header-log__content
			.header-log__logo
				img(src="static/img/content_profile/logo.png", alt="img")
			.header-log__right
				a(href="javascript:void(0)" class="header-log__text") Already have an account?
				a(href="javascript:void(0)" class="header-log__btn btn-light") Login
section.main-log__section
	.log-container.container
		.log-center__block.row
			.main-log__title.col-md-12
				h1 Create <span class='text-success'>Founderinvest</span> account
			.main-log__input.col-md-12
				.log-input__name
					.log-first__name
						.name_data_input.log__input
							p First Name
						.wrapper-input
							input(type="text" class="input_data input-login__email input-log")
					.log-last__name
						.name_data_input.log__input
							p Last Name
						.wrapper-input
							input(type="text" class="input_data input-login__email input-log")
				.log-email__block
					.name_data_input.log__input
						p Email
					.wrapper-input
						input(type="text" class="input_data input-login__email input-log")
				.log-password__block
					.name_data_input.log__input
						p Password
					.wrapper-input
						input(type="text" class="input_data input-login__password input-log")
			.main-log__button.col-md-12
				a(href="javascript:void(0)" class="log-main__btn btn-success") Create new account
		.log-google__block.row.justify-content-between
			.log-google__title.col-md-12
				h2 Login with Google account
			.log-google__button.col-md-10
				a(href="javascript:void(0)" class="log-google__btn btn-primary") <span>Зарегистрироваться</span> с помощью Google
