doctype html
html(lang="ru-RU")
	head
		meta(charset="utf-8")
		meta(http-equiv='X-UA-Compatible', content="IE = edge")
		meta(name="viewport" content="width=device-width,initial-scale=1")
		link(rel="stylesheet" type='text/css' href="static/libs/bootstrap/css/bootstrap.css")
		link(rel="stylesheet" type='text/css' href="static/fonts/fonts.css")
		link(rel="stylesheet" type='text/css' href="static/css/main.css")
		link(rel="stylesheet" type='text/css' href="static/css/media.css")

		title
			block title
	body
		.wrapper
			block content
		script(src="static/js/jquery-3.2.1.min.js")
		//- script(src="static/libs/bootstrap/js/bootstrap.js")
		//- script(src="static/libs/bootstrap/js/bootstrap.bundle.min.js")
		script(src="static/js/main.js")

