$Main_green: #26b629;
$Link_color: #1c8cff;
$Main_red: #f22b2b;
$Background_color: #ebecee;
$Inactive_button: #c9c9cb;
$red_eye: #d87272;
$Blue_button: #039be5;
$orange_button: #ffa000;
$black: #2b2b2b;